<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/fontawesome/css/font-awesome.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">        
            <div class="navbar-header">
                <a class="navbar-brand">
                    <img height="25" width="25" src="~/images/ls.png" />
                </a>
            </div>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
</body>
</html>
